.game-tile {
    display: flex;
    position: relative;
    font-size: 1rem;
    flex-direction: column;
    height: 100%;
}

.image,
.no-image {
    display: block;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-medium);
    aspect-ratio: 1.5;
}

.no-image {
    background-color: var(--background-color-0);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    & > .no-image-icon {
        font-size: 4em;
        color: var(--text-color-light-disabled);
    }
}

.link {
    flex: 1;
    display: flex;
    justify-content: center;
    transition: transform ease-in-out 200ms;
}

.link:visited {
    color: inherit;
}

.link:hover {
    transform: scale(105%);

    & .no-image-icon {
        color: var(--text-color-light-disabled);
    }
}

.details {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    margin-top: 1rem;
    max-width: 100%;
}

.name {
    display: block;
    margin: 0;
    padding: 0;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.price {
    display: block;
    font-weight: bold;
    font-size: 1.3em;
}

.content-wrapper.hide {
    display: none;
}

.nsfw-wrapper {
    height: 100%;
    background-color: var(--background-color-0);
    border-radius: var(--border-radius-medium);
}

.show-nsfw-btn {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;

    & > .nsfw-icon {
        font-size: 4em;
        color: white;
    }

    &:hover {
        background-color: var(--background-color-2);
    }
}
