.game-carousel {
    position: relative;
}

.container {
    overflow: auto;
    padding: 0.5rem 0;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.list {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    gap: 1.5rem;
    padding: 0 0.5rem;
    margin: 0;
    width: fit-content;
}

.item {
    width: 100%;
}
