.hero-carousel {
    width: 100%;
    position: relative;
}

.row-container {
    position: relative;
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    grid-template-areas: "left carousel right";
    gap: 1rem;
}

.row-list {
    position: relative;
    list-style: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    grid-area: carousel;
}

.row-item {
    position: absolute;
    overflow: hidden;
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    display: block;
    will-change: opacity;
    transition: 400ms opacity;
    opacity: 0;
    pointer-events: none;
}

.row-item:global(.active) {
    opacity: 1;
    pointer-events: auto;
}

.dots-list {
    list-style: none;
    margin: 1rem 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.dot {
    position: relative;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    padding: 0;
    display: block;
    border: 3px solid #5a5a5a;
    background-color: #5a5a5a;

    &.active {
        background-color: white;
        border-color: transparent;
    }

    &:hover {
        border-color: white;
    }
}

.dot-fill {
    position: absolute;
    inset: -6px;
    border: 3px solid green;
    border-radius: 50%;
}

@media (width<= 800px) {
    .row-container {
        height: 300px;
        overflow: scroll;
        display: block;
    }

    .row-list {
        display: flex;
        flex-flow: row nowrap;
        padding: 0 0.5rem 1rem;
        gap: 0.5rem;
    }

    .row-item {
        position: static;
        opacity: 1;
        pointer-events: auto;
        flex: 1 0 85%;
    }

    .dots-list {
        display: none;
    }
}
