.hero-carousel {
    width: 100%;
    position: relative;
}

.row-container {
    position: relative;
    width: 100%;
    height: 600px;
}

.row-list {
    position: relative;
    overflow: hidden;
    list-style: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.row-item {
    position: absolute;
    overflow: hidden;
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    display: block;
    will-change: opacity;
    transition: 400ms opacity;
    opacity: 0;
    pointer-events: none;
}

.row-item:global(.active) {
    opacity: 1;
    pointer-events: auto;
}

.dots-list {
    list-style: none;
    margin: 1rem 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.dot {
    position: relative;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    padding: 0;
    display: block;
    border: 3px solid #5a5a5a;
    background-color: #5a5a5a;

    &.active {
        background-color: white;
        border-color: transparent;
    }

    &:hover {
        border-color: white;
    }
}

.dot-fill {
    position: absolute;
    inset: -6px;
    border: 3px solid green;
    border-radius: 50%;
}
