.footer {
    background-color: var(--background-color-0);
    padding: var(--section-padding);
}

.content {
    max-width: var(--page-max-width);
    margin: 0 auto;
}

.links {
    display: grid;
    justify-content: space-between;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;

    & > .info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: min-content;
        gap: 0.5rem 1rem;
        justify-items: center;
    }
}

.socials {
    justify-self: flex-end;

    & > .icons {
        display: flex;
        gap: 0.5rem;
    }
}

.logo {
    width: 300px;
    height: auto;
    justify-self: flex-start;
}

.icon {
    font-size: 34px;
}

.footer-link {
    color: var(--text-color-light);
    text-decoration: none;

    &:visited {
        color: var(--text-color-light);
    }

    &:hover {
        color: var(--primary-color-2);
    }
}

.social-link {
    composes: footer-link;
    transition: color 200ms;
    display: flex;
    align-items: center;
    justify-content: center;
}

.source-link {
    composes: footer-link;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.info-link {
    composes: footer-link;
}

.legals {
    margin: 1rem 0;
    padding-top: 1rem;
    border-top: 1px solid var(--background-color-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.legals-content {
    margin: 0;
}
