.controls {
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls-left {
    composes: controls;
    grid-area: left;
}

.controls-right {
    composes: controls;
    grid-area: right;
}

.controls-btn {
    font-size: var(--icon-font-size-large);
    padding: 4px;
    border: none;
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: #3a3a3a;
    }
}

@media (width<= 800px) {
    .controls {
        display: none;
    }
}
