.popular-games-grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 0.5rem;
}

.popular-games-grid > .popular-games-item {
    background: black;
    position: relative;
    aspect-ratio: 1.5;

    & > * {
        height: 100%;
        width: 100%;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
