:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: var(--background-color-0);
    color: var(--text-color-light);

    --page-max-width: 1280px;
    --text-color-light: rgb(255 255 255 / 87%);
    --text-color-light-medium: rgb(255 255 255 / 60%);
    --text-color-light-disabled: rgb(255 255 255 / 38%);
    --text-color-dark: rgb(0 0 0 / 87%);
    --background-color-0-hsl: 0 0% 7%;
    --background-color-0: hsl(var(--background-color-0-hsl));
    --background-color-1-hsl: 0 0% 16%;
    --background-color-1: hsl(var(--background-color-1-hsl));
    --background-color-2-hsl: 0 0% 25%;
    --background-color-2: hsl(var(--background-color-2-hsl));
    --background-color-3: #575757;
    --background-color-4: #717171;
    --background-color-5: #8b8b8b;
    --primary-color-0: #008746;
    --primary-color-1: #369459;
    --primary-color-2: #53a26d;
    --primary-color-3: #6daf80;
    --primary-color-4: #86bc95;
    --primary-color-5: #9ecaa9;
    --section-padding: 2rem;
    --border-radius-medium: 8px;
    --border-radius-small: 5px;
    --header-height: 85px;
    --icon-font-size-large: 2rem;
    --icon-font-size-medium: 1rem;
}

body {
    margin: 0;
    min-height: 100vh;
}

button,
.button {
    border-radius: var(--border-radius-medium);
    border: none;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--primary-color-0);
    color: var(--text-color-light);
    cursor: pointer;
}

button:disabled,
.button:disabled {
    background-color: var(--background-color-5);
    color: var(--text-color-dark);
    cursor: not-allowed;
    opacity: 0.7;

    &:hover {
        background-color: var(--background-color-5);
    }
}

a.button {
    display: inline-block;
}

.button:visited {
    color: var(--text-color-light);
}

a.button:hover,
button:hover,
.button:hover {
    background-color: var(--primary-color-1);
}

a.button:hover {
    color: var(--text-color-light);
}

a,
.link {
    font-weight: 500;
    color: var(--text-color-light);
    text-decoration: inherit;
}

.link {
    background-color: transparent;
    padding: 0;

    &:hover {
        background-color: transparent;
        color: var(--primary-color-1);
    }
}

a:visited {
    color: var(--text-color-light);
}

a:hover,
.link:hover {
    color: var(--primary-color-2);
}

select {
    border: 1px solid var(--background-color-3);
    background-color: var(--background-color-1);
    border-radius: var(--border-radius-medium);
    color: var(--text-color-light);
    padding: 0.5rem;
    cursor: pointer;
}

input[type="text"],
input[type="number"] {
    border: 1px solid var(--background-color-3);
    background-color: var(--background-color-1);
    border-radius: var(--border-radius-medium);
    padding: 0.5rem;
    color: var(--text-color-light);
}

input[type="number"] {
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        display: none;
    }
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--background-color-1);
    margin: 0;
    font: inherit;
    color: var(--text-color-light);
    width: 1em;
    height: 1em;
    border: 2px solid var(--text-color-light);
    border-radius: var(--border-radius-small);
    position: relative;
    cursor: pointer;

    &:checked {
        border-color: var(--primary-color-1);
        background-color: var(--primary-color-1);
    }

    &:checked::before {
        content: "";
        position: absolute;
        inset: 0;
        transform-origin: center;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        background-color: var(--text-color-light);
    }

    &:hover {
        border-color: var(--primary-color-1);
    }
}

label:has(+ input[type="checkbox"]),
input[type="checkbox"] + label {
    cursor: pointer;
}

@media (width<= 800px) {
    :root {
        --icon-font-size-large: 1.5rem;
        --section-padding: 2rem 0;
    }
}
