:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: var(--background-color-0);
    color: var(--text-color-light);

    --page-max-width: 1280px;
    --text-color-light: rgb(255 255 255 / 87%);
    --text-color-light-medium: rgb(255 255 255 / 60%);
    --text-color-light-disabled: rgb(255 255 255 / 38%);
    --text-color-dark: rgb(0 0 0 / 87%);
    --background-color-0: #121212;
    --background-color-1: #282828;
    --background-color-2: #3f3f3f;
    --background-color-3: #575757;
    --background-color-4: #717171;
    --background-color-5: #8b8b8b;
    --primary-color-0: #008746;
    --primary-color-1: #369459;
    --primary-color-2: #53a26d;
    --primary-color-3: #6daf80;
    --primary-color-4: #86bc95;
    --primary-color-5: #9ecaa9;
    --section-padding: 2rem 0;
    --border-radius-medium: 8px;
}

a {
    font-weight: 500;
    color: var(--text-color-light);
    text-decoration: inherit;
}

a:hover {
    color: var(--primary-color-2);
}

body {
    margin: 0;
    min-height: 100vh;
}

button,
.button {
    border-radius: var(--border-radius-medium);
    border: none;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--primary-color-0);
    color: var(--text-color-light);
    cursor: pointer;
}

a.button {
    display: inline-block;
}

a.button:hover,
button:hover,
.button:hover {
    background-color: var(--primary-color-1);
}

a.button:hover {
    color: var(--text-color-light);
}

a:visited,
.button:visited {
    color: var(--text-color-light);
}
